In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
Data = pd.read_csv('Salaries.csv')

C:\Users\YZQ8BX\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
Data.shape

(148648, 13)

In [4]:
Data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [5]:
Data.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36158
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148648
Agency                   0
Status              110529
dtype: int64

### 1. Compute how much total salary cost has increased from year 2011 to 2014

In [8]:
grouped_df = Data.groupby(["Year"]).agg("sum").filter(["Year", "TotalPay"])
print(grouped_df.head())

total_pay_2011 = grouped_df.query("Year == 2011")["TotalPay"]
total_pay_2014 = grouped_df.query("Year == 2014")["TotalPay"]

total_change_2011_2014 = float(total_pay_2014) - float(total_pay_2011)

print("Total change from 2011 to 2014 is " + str(total_change_2011_2014))

          TotalPay
Year
2011  2.594113e+09
2012  2.724736e+09
2013  2.918656e+09
2014  2.876911e+09
Total change from 2011 to 2014 is 282797920.53994226

### 2. Which Job Title in Year 2014 has highest mean salary?

In [18]:
grouped_df_JobTitle = Data_2014.groupby('JobTitle').agg('mean').filter(['JobTitle','TotalPay'])
max_min_salary = grouped_df_JobTitle[grouped_df_JobTitle["TotalPay"]
                                     == grouped_df_JobTitle["TotalPay"].max()]
print(max_min_salary)

                          TotalPay
JobTitle
Chief Investment Officer  339653.7

In [19]:
# chief investment officer has highest salary .

### 3. How much money could have been saved in Year 2014 by stopping OverTimePay?

In [21]:
grouped_df_overTime = Data.groupby(["Year"]).agg(
    "sum").filter(["OvertimePay"]).query("Year == 2014")

print(str(float(grouped_df_overTime["OvertimePay"])) +
      " money could have been saved in Year 2014 by stopping OverTimePay")

205918599.27000067 money could have been saved in Year 2014 by stopping OverTimePay

### 4. Which are the top 5 common job in Year 2014 and how much do they cost SFO?

In [23]:
grouped_df_5_common = Data.groupby(["Year", "JobTitle"]).agg("count").filter(
    ["Year", "TotalPay", "JobTitle"]).query("Year == 2014").sort_values("TotalPay", ascending=False)

print(grouped_df_5_common.head(5))

                                   TotalPay
Year JobTitle
2014 Transit Operator                  2479
     Special Nurse                     1478
     Registered Nurse                  1234
     Public Svc Aide-Public Works       916
     Firefighter                        815

### 5. Who was the top earning employee across all the years?

In [ ]:
grouped_df_5_top_earners = Data.groupby(["Year", "TotalPay"]).agg(
    "max").filter(["Year", "TotalPay", "EmployeeName"])

print(grouped_df_5_top_earners.head())